
// colors
$white-color: #ffffff;
$light-color: #eeeeee;
$grey-color: #a5a5a5;
$dark-color: #191818;
$blue-color: #2276bb;
$active-color: #2baf2b;
$danger-color: #d81414;


// sidebar
$sidebar-width: 60px;

// fontsizes
$small-fontsize: 14px;
$normal-fontsize: 16px;
$large-fontsize: 20px;
$xlarge-fontsize: 30px;
